<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>RedUsers Management</title>
  <link rel="stylesheet" href="file:///H:/red-users/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <button>
        <span>Toggle navigation</span>
      </button>
    </div>
  </nav>
  {{{body}}}
</body>

</html>